:root {
    --color-white: #f0f0f0;
    --color-gray: rgb(150, 151, 151);
    --color-darkgray: rgb(51, 51, 51);
    --color-black: #000000;
  }
body {
    width: auto;
    margin: auto;
    font: 1rem monospace;
    background:var(--color-gray);
    text-align: center;
  }
  
  h1 {
    font-size: 4rem;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

h2 {
    font-size: 2rem;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    margin-top: -40px;
}

h3 {
    font-size: 1.4rem;
    color: var(--color-darkgray);
}

  .dropdown {
    padding:1rem 1rem 1rem 1rem;
    background: black;
    display:flex;
    justify-content:end;
    align-self: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .nav-toggle {
    -webkit-appearance: none;
    background:#000;
    font-size:1em;
    padding:.5em;
    border:none;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    outline:none;
    transition: all 0.2s;
    cursor:pointer;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    
  }
  
  .nav-toggle img {
    width:100%;   
    fill:black;
    vertical-align:top;
    margin-right:.25em;
  }

  .menu {
    list-style:none;
    padding:0;
    margin:1em 5em 0 5em;
    transition: all 0.8s cubic-bezier(.15,.7,0,1);
  }
  
  .menu a {
    display:block;
    color:var(--color-white);
    background:#000;
    text-decoration:none;
    padding:.5em .5em;
    outline:none;
    margin-bottom:.2em;
    transition: all 0.2s;
  }
  
  .menu a:hover {
    background:#111;
    color:#fff;
  }
  
  .js .menu {
          overflow: hidden;
          max-height: 0;
  }
  
  .js .menu-active {
      max-height:12em;
    padding-bottom:1em;
  }

  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 50px;
}
#home img {
    width: 50%;
}

.presentation {
    background-color: var(--color-white);
    text-align: justify;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: #000000 3px solid;
    border-radius: 25px;
    margin: 20px;
}

@media (max-width: 620px) {
    #home img {
        width: 80%;
    }
}

.images-resolution {
    padding-top: 200px;
}
.images-resolution .gallery {
    padding-bottom: 50px;
}
.images-resolution .img1 {
    width: 72.30%;
}
@media (max-width: 620px) {
    .images-resolution .img1 {
      width: 80%;
   }
}

.numbers {
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 3rem;
}

.mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding-top: 50px;
}

.mail a {
    
    font-size: 2rem;
}

.localitation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.localitation .adorno {
  width: 50%;
}
.adorno {
  border: var(--color-darkgray) 10px solid;
  border-radius: 25px;
}